.body {
  margin: 0; }

.section-1 {
  background-image: url(https://i.pinimg.com/564x/83/96/44/83964406caef4810d899e98219cbb754.jpg);
  width: auto;
  height: 600px; }

.h1 {
  margin-top: 200px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  font-family: 'anton';
  font-size: 100px;
  letter-spacing: 20px; }

.h2 {
  margin: 0px;
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px; }

.tel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 20px; }

.link {
  color: black;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold; }
